# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
polyhouse-backend/venv/
venv/
.venv/
env/

# Environment Variables
.env

# Logs
*.log

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# ===============================
# React / Node
# ===============================
node_modules/

dist/

build/

coverage/

npm-debug.log*

yarn-error.log*

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Git
# ===============================
